.row-header{
   margin:0px auto;
   padding:0px auto;
}

.row-content {
   margin:0px auto;
   padding: 50px 0px 50px 0px;
   border-bottom: 1px ridge;
   min-height:400px;
}

.row-footer{
   background-color: #AfAfAf;
   margin:0px auto;
   padding: 20px 0px 20px 0px;
}

Include the mystyles.css file into the head of the index.html file as follows:
   <link href="css/mystyles.css" rel="stylesheet">

Then add these classes to the corresponding rows in the index.html file as follows. See the difference in the index.html file in the browser. The first one is for the row in the <header>, the next three for the rows in the content, and the last one directly to the <footer> tag.
    <div class="row row-header"> ... </div>

   <div class="row row-content"> ... </div>

   <div class="row row-content"> ... </div>

   <div class="row row-content"> ... </div>


    <footer class="row-footer"> ... </footer>

    .jumbotron {
        padding:70px 30px 70px 30px;
        margin:0px auto;
        background: #7986CB ;
        color:floralwhite;
     }
     
     address{
        font-size:80%;
        margin:0px;
        color:#0f0f0f;
     }
     
     body{
        padding:50px 0px 0px 0px;
        z-index:0;
     }
     
     .navbar-inverse {
         background: #303F9F;
     }
     
     .navbar-inverse .navbar-nav > .active > a,
     .navbar-inverse .navbar-nav > .active > a:hover,
     .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background: #1A237E;
     }
     
     .navbar-inverse .navbar-nav > .open > a,
     .navbar-inverse .navbar-nav > .open > a:hover,
     .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background: #1A237E;
     }
     
     .navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
     .navbar-inverse .navbar-nav .open .dropdown-menu {
        background-color: #303F9F;
        color:#eeeeee;
     }
     
     .navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
        color:#000000;
     }
     
     


